<%= form_for @post do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<p><%= f.label :tweet, "El Tweet" %></p>
<%= f.text_field :tweet %>
<p><%= f.label :tweet, "La Latitud" %></p>
<%= f.text_field :latitud %>
<p><%= f.label :tweet, "La Longitud" %></p>
<%= f.text_field :longitud %>
<p><%= f.label :tweet, "El Url" %></p>
<%= f.text_field :url %>
<p><%= f.submit "Guardar" %></p>
<% end %>